article{    
    padding: 4px 20px ;
    color: #600 ;
    position:relative;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
    line-height: 1em ;
    text-align: center ;
    text-decoration: none ;     
}