

<article *ngIf="indexEleve >=0">
	<h3>Nom: {{serviceEle.listeEleves[indexEleve].nom}} - Prenom: {{serviceEle.listeEleves[indexEleve].prenom}}</h3>
	<img [src]="serviceEle.listeEleves[indexEleve].photo">
</article>
<article *ngIf="indexEleve <0">
	<section>
		<form #f="ngForm" (ngSubmit)="soumissionFormulaire(f)">
			<input name="nom" placeholder="Votre nom" type="text" required>
			<input name="prenom" placeholder="Votre prénom" type="text" required>
			<input name="mail" placeholder="Votre.adresse@mail.com" type="mail" required>
			<input name="promo" placeholder="Votre promo" type="text"required>
			<input name="age" placeholder="Votre âge" type="text" required>
			<input name="photo" placeholder="Votre lien de photo" type="text" required>
			<textarea name="msg"  placeholder="Tappez votre message " required></textarea>
			<input type="submit" value="Valider" [disabled]="f.invalid">
			<input type="reset" value="Réinitialiser">
			
		</form>
	
	</section>
</article>